
<div class="clearfix navWrap">
    <div class="navMenuContainer clearFloat">
            <ul class="clearFloat navMenu" data-dojo-attach-point="navMenuList" id="navMenuList">
                <li class="navMenuItem">
                    <div>
                        <span>菜单1</span>
                    </div>
                </li>
                <li class="navMenuItem">
                    <div class="borderLeft lastMenuDiv">
                        <span>菜单2</span>
                    </div>
                </li>
            </ul>
    </div>
    <div class="navCtr" data-dojo-attach-point="navCtrBtn" title="展开菜单" data-target="close"></div>
</div>
