
<div class="clearfix navWrap">
    <div class="navMenuContainer clearfix">
            <ul class="clearfix navMenu" data-dojo-attach-point="navMenuList" id="navMenuList">
                <li class="navMenuItem">
                    <div>
                        <span>菜单1</span>
                    </div>
                </li>
                <li class="navMenuItem">
                    <div class="borderLeft">
                        <span>菜单2</span>
                    </div>
                </li>
            </ul>
    </div>
    <div class="navCtr" data-dojo-attach-point="navCtrBtn" id="navCtrBtn"></div>
</div>
