html,body,#viewDiv,.mainContainer {
  padding: 0;
  margin: 0;
  width: 100%;
    height: 100%;
}
.mainContainer{
    padding-top: 50px;
}
.bluenavbg{
    background-color: rgb(1,156,222);
    border: 0;
}
.whitenavFont{
    color: #fff !important;
    font-size: 16px;
}
.project{
    color: #fff;
    font-size: 24px;
}
.layerContainer{
    padding:0 0 0 1px;
    margin: 0;
    height: 100%;
    float: left;
    overflow-y: auto;
}
.mapContainer{
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
/*屏幕尺寸小于1220px*/
@media screen and (max-width: 1220px){
    .mapContainer{
        width: 65%;
    }
    .layerContainer{
        width: 35%;
    }
}
/*屏幕尺寸大于1220px*/
@media screen and (min-width:1220px ) {
    .mapContainer{
        width: 70%;
    }
    .layerContainer{
        width: 30%;
    }
}
/*屏幕尺寸大于1700px*/
@media screen and (min-width:1700px ){
    .mapContainer{
        width: 80%;
    }
    .layerContainer{
        width: 20%;
    }
}
.containerBorder{
    border: #ddd solid 1px;
}
.panel-list{
    padding: 4px;
}
.searchDiv{
    height:34px ;
}
.searchImg{
    margin-top: 4px;
}
.toolboxImg{
    min-height: 16px;
    width: auto;
}
.panelHide{
    display: none;
}
.errorToast{
    position: fixed;
    z-index: 10000;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
    bottom: 20px;
    left: 40px;
}
.errorToast li{
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    background-color: red;
    color: white;
    text-align: center;
    height: 30px;
    line-height: 25px;
    font-weight: 500;
}