.navWrap{
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 999;
}
.navMenuContainer {
    font-family: Arial, 微软雅黑, "Hiragino Sans GB", 新宋体, sans-serif;
    width: 132px;
    height: 32px;
    float: left;
}

.navCtr {
    background-image: url(../images/leftarrow.png);
    height: 32px;
    width: 34px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    transform: rotate(0deg);
    -webkit-transform:rotate(0deg) ;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.28);
}

.navMenu {
    height: 32px;
    background-color: #f17878;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 15px;
    width: 0;

    /*添加菜单栏后需要修改长度*/
    /*加上向右浮动后，实现从右向左收起和展开*/
    float: right;
}

.navMenuItem {
    display: block;
    float: left;
    height: 30px;
    padding: 6px;
}

.navMenuItem > div {
    padding-left: 10px;
}
.lastMenuDiv{
    padding-right: 10px;
}
.borderLeft {
    border-left: 1px solid #fff;
}
.clearFloat{
    overflow: hidden;
}

@keyframes openMenu{
    0% {width: 0;}
    100% {width: 132px;}
}
@-moz-keyframes openMenu{
    0% {width: 0;}
    100% {width: 132px;}
}
@-webkit-keyframes openMenu{
    0% {width: 0;}
    100% {width: 132px;}
}

@keyframes closeMenu{
    0% {width: 132px;}
    100% {width: 0;}
}
@-moz-keyframes closeMenu{
    0% {width: 132px;}
    100% {width: 0;}
}
@-webkit-keyframes closeMenu{
    0% {width: 132px;}
    100% {width: 0;}
}
.openAnimate{
    animation: openMenu 1s;
    -moz-animation: openMenu 1s;
    -webkit-animation: openMenu 1s;
    width: 132px;
}
.closeAnimate{
    animation: closeMenu 1s;
    -moz-animation: closeMenu 1s;
    -webkit-animation: closeMenu 1s;
    width: 0;
}



