*{
    font-family: Arial, 微软雅黑, "Hiragino Sans GB", 新宋体, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.wrap{
    width: 450px;
}
.searchContainer{
    padding: 0;
    border: 0;
    margin: 0;
    box-shadow: 0 0 4px #dadada;
    height: 35px;
    width: 450px;
    font-size: 0;
    text-align: center;
    overflow: hidden;
}
.search{
    padding: 0;
    border: 0;
    margin: 0;
    height: 35px;
    box-sizing: border-box;
    display: block;
    float: left;
}
.searchText{
    width: 13%;
    background-color: #7cb1f1;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
}
.searchInput{
    width: 77%;
    padding-left: 5px;
}
.searchBtn{
    width: 10%;
    background: url("../images/searchbutton.png") no-repeat center;
    cursor: pointer;
}
.imgContainer img{
    height: 10px;
    width: 15px;
    margin-top: 1px;
    cursor: pointer;
}
.imgContainer{
    background-color: #f5f5f5;
    height: 18px;
    margin-left: 40%;
    width: 20%;
    border-radius: 0 0 200px 200px;
    box-shadow: 0 0 3px #dadada;
    text-align: center;
}
.searchImg {
    margin-top: 4px;
}
.tabContent{
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 4px #dadada;
    width: 450px;
    display: none;
}
body{
    padding: 30px;
}
.btnContent{
    padding: 10px;
    margin-left: 20%;
}
.searchHr{
    margin-top: 10px;
    margin-bottom: 10px;
}