.zoomBar{
    position:absolute;
    right:15px;
    top:70px;
}

.zoom{
    cursor:pointer;
    height:32px;
    width:34px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
 .zoomIn{
    background:url('../images/zoomin.png');
}

 .zoomOut{
    background:url('../images/zoomout.png');
    margin-top:15px;
}